<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <!-- <script>dogs = <%= dogs %> </script> -->
  <script src="public/scripts/feed.js"></script>
</head>
<body>

    <!-- Begin Header -->
    <div class="masthead clearfix">
        <div class="container inner">
            <h3 class="masthead-brand"></h3>
            <nav>
                <ul class="nav masthead-nav">
                    <li>
                        <button a href = "https://www.google.com/maps?q=san+francisco+dog+parks+map&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiPvqXSs9zSAhUDxWMKHdAWDMQQ_AUICCgB" type="button" class="btn btn-default" aria-label="Map">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true">
                            </span>
                        </button>
                    </li>
                    <li>
                        <button a href = "/login" type="button" class="btn btn-default" aria-label="Sign In">
                            <span class="glyphicon glyphicon-user" aria-hidden="true">
                            </span>
                        </button>
                    </li>
                    <li>
                        <button a href = "/signup" type="button" class="btn btn-default" aria-label="Create Profile" onclick="location.href = '/signup';">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true">
                            </span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--End Header-->


  <h1>Feeding Frenzy</h1>
  <div id='dogTarget'>
    <ul>
    <% dogs %>
    <% for(var i=0; i<dogs.length; i++) { %>
              <p>
              <div class='col-sm-6 row dog border text-center' data-dog-id = <%= dogs[i]._id %> >
              <img src="<%= dogs[i].imgDog %>" alt="book image">
              <br/>
                <span class='dog-name'><%=dogs[i].dogName%></span>
                is a <span class='dog-size'><%=(dogs[i].isBig === true ? 'large' : 'small')%></span><span class='dog-breed'> <%=dogs[i].breed%></span>.
                <br/>
                They are <span class='dog-temper'><%=(dogs[i].isSocialized === true ? 'great' : 'not very good')%></span> with other dogs.
                <br/>
                </p>

                </div>
                <div class='col-sm-6 row owner border text-center' data-human-id =<%=(dogs[i].human) ? dogs[i].human._id : 'null'%>>
                <img src="<%=(dogs[i].human) ? dogs[i].human.imgOwner : 'null'%>" alt="author image">
                <br/>
                  <b><span class='owner-name'><%=(dogs[i].human) ? dogs[i].human.ownerName : 'null'%></span></b>
                  is a <span class ='owner-age'><%=(dogs[i].human) ? dogs[i].human.age : 'null'%></span> year old <span class='owner-gender'><%=(dogs[i].human) ? dogs[i].human.gender : 'null'%></span>.
                  <br/>
                  Email is <span class='email'><%=(dogs[i].human) ? dogs[i].human.email : 'null'%><span>.
                  </p>

                  </div>
        <% } %>

  </ul>
  </div>
</body>
</html>








<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title></title>
   <!-- <script>dogs = <%= dogs %> </script> -->

 </head>

 </body>
</html>
