<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="/styles/main.css">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="./scripts/app.js"></script>

  <title>Profile</title>
</head>
<body class="profile">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Welcome <%= owner.ownerName %>!</h1>
        <hr>
        <h3>You're logged in as <%= owner.email %>.</h2>
      </div>
      <div>
          <ul>
              <li><img src="<%= owner.gender %>" alt="My image"></li>
              <li><%= owner.age %></li>
              <li><%= owner.imgOwner %></li>
              <li><%= owner.email %></li>
          </ul>
      </div>
    </div>
  </div>
</body>
</html>
